.author {


  //.author__inner
  &__inner {
    padding: 54px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    border-top: 1px solid rgba(167, 167, 167, 0.6);
    color: #999999;
    font-size: 13px;
  }

  //.author__copyright
  &__copyright {

  }

  //.author__company
  &__company {
  }

  //.author__privacy
  &__privacy {
  }
}