* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1194px
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1194px !important;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1194px !important;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
  }
}

button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.section {
  padding: 50px 0;


}

.section-label {
  display: inline-flex;


  p {
    padding: 12px 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: 600;
    background: rgba($color: $color-on-primary, $alpha: 1);
  }
}

.title {
  color: rgba($color: $color-primary, $alpha: 1);
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;

  @media screen and (max-width: 490px) {
    font-size: 35px;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;

  //.socials__link
  &__link {
  }

}