.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  //.form__input
  &__input {
    position: relative;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 8px;
    width: 100%;
    height: 48px;

    input{
      width: 100%;
      height: 100%;
      padding: 0 15px;
      border-radius: 8px;
      outline: none;
      box-shadow: none;
      border: none;

      &:focus {

      }

      &:focus + label{
        top: 0;
        font-size: 10px;
      }
    }

    label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      color: rgba($color: #999999, $alpha: 1);
      background: rgba($color: $color-on-primary, $alpha: 1);
      transition: $animation_speed;
    }
  }

  //.form__bottom
  &__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  //.form__socials
  &__socials {
  }

  //.form__submit
  &__submit {
    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }

  //.form__agreement
  &__agreement{
    display: flex;
    align-items: center;
    gap: 5px;

    input[type="checkbox"] {
      position: relative;
      width: 16px;
      height: 16px;
      border: 1px solid $color-primary;
      border-radius: 4px;
      appearance: none;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background: $color-primary;
        border-radius: 2px;
        opacity: 0;
        transition: $animation_speed;
      }

      &:checked::before {
        width: 8px;
        height: 8px;
        opacity: 1;
      }
    }

    label {
      cursor: pointer;
      font-size: 14px;
    }
  }

}