.header {
  flex: 0 0 auto;
  border-top: 1px solid rgba($color: $color-primary, $alpha: 0.15);
  border-bottom: 1px solid rgba($color: $color-primary, $alpha: 0.15);
  margin-top: 50px;

  //.header__inner
  &__inner {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  //.header__logo
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  //.header__nav
  &__nav {
  }

  //.header__actions
  &__actions {
  }
}

.nav {

  /*@media screen and (max-width: 992px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $color-on-primary;
  }*/

  // .nav__list
  &__list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  //.nav__item
  &__item {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  //.nav__link
  &__link {
    display: block;
    padding: 2px 0px 1px;
    border-bottom: 1px solid rgba($color: $color-primary, $alpha: 0);
    transition: $animation-speed;

    &:active {
      opacity: 0.9;
    }

    &.active {
      border-color: rgba($color: $color-primary, $alpha: 1);
      font-weight: 600;
    }

    @media(hover: hover) {
      &:hover {
        border-color: rgba($color: $color-primary, $alpha: 1);
      }
    }
  }

  //.nav__close
  &__close {
    display: none;
  }


}

.actions {
}

