.header {
  flex: 0 0 auto;
  border-top: 1px solid rgba($color: $color-primary, $alpha: 0.15);
  border-bottom: 1px solid rgba($color: $color-primary, $alpha: 0.15);
  margin-top: 50px;

  //.header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  //.header__logo
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  //.header__nav
  &__nav {
  }

  //.header__actions
  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 425px) {
      gap: 15px;
    }
  }

  //.header__phone
  &__phone {
    @media screen and (max-width: 425px) {
      font-size: 13px;
    }
  }


  //.header__btn
  &__btn {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

}

.nav {

  @media screen and (max-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $color-on-primary;
    pointer-events: none;
    transition: 0.3s;
    transform: translateX(-150%);
    z-index: 99;

    &.active {
      transform: translateX(0);
      pointer-events: auto;
    }
  }

  // .nav__list
  &__list {
    display: flex;
    align-items: center;
    gap: 25px;

    //.nav__list--column
    &--column {
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }

  }

  //.nav__item
  &__item {
    position: relative;
    border-bottom: 1px solid rgba($color: $color-primary, $alpha: 0);
    transition: $animation-speed;

    @media(hover: hover) {
      &:hover {
        border-color: rgba($color: $color-primary, $alpha: 1);

        .submenu {
          display: block;
        }

        .nav__icon {
          transform: rotate(180deg);
        }
      }
    }

    &.active {
      border-color: rgba($color: $color-primary, $alpha: 1);

      .nav__link {
        font-weight: 600;
      }
    }
  }

  //.nav__item-inner
  &__item-inner {
    display: flex;
    align-items: center;
    gap: 4px;
  }


  //.nav__link
  &__link {
    display: block;
    padding: 16px 13px 17px 13px;

    &:active {
      opacity: 0.9;
    }

    @media screen and (max-width: 992px) {
      font-size: 25px;
    }

  }

  //.nav__icon
  &__icon {
    transition: $animation-speed;

    @media screen and (max-width: 992px) {
      display: none;
    }

  }

  //.nav__close
  &__close {
  }

}


.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 290px;
  background: rgba($color: $color-on-primary, $alpha: 1);
  border: 1px solid rgba($color: $color-primary, $alpha: 0.15);
  z-index: 99;

  //.submenu__item
  &__item {
    &:not(:last-child) .submenu__link {
      border-bottom: 1px solid rgba($color: $color-primary, $alpha: 0.15);
    }
  }

  //.submenu__link
  &__link {
    display: block;
    padding: 10px 10px;
    transition: $animation-speed;

    @media(hover: hover) {
      &:hover {
        background: rgba($color: $color-primary, $alpha: 0.03);
      }
    }

  }

}

.burger {
  position: relative;
  display: flex;
  width: 24px;
  height: 24px;

  @media screen and (min-width: 992px) {
    display: none;
  }

  span, &::before, &::after {
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
  }

  &::before {
    transform: translateY(-5px);
  }

  &::after {
    transform: translateY(5px);
  }
}


